<html lang="en">
  <head>
    <%- include("../../partials/head"); %>
  </head>
  <body>
    <header><%- include("../../partials/headerUsers"); %></header>
    <main class="main">
      <%- include("../../partials/hero"); %>
      <div class="container-fluid tienda">
        <% if (category) { %>
        <h2 class="text-center"><%= category %></h2>
        <% } else { %>
        <h2 class="text-center">Todos los productos</h2>
        <% } %> <% if ((products.length > 0)) { %>
        <div class="col grillaProductos">
          <%- include("../../partials/products/productGrid",
          {products:products});%>
        </div>
        <% } else if (category) { %>
        <h2 class="text-center">No hay productos para la categoría</h2>
        <% } %>
      </div>
    </main>
    <%- include("../../partials/bootstrapScripts") %>
  </body>
</html>
