<tr id="product-<%= product._id %>" class="fila">
  <th class="cajaImagenTabla" scope="row">
    <img src="<%= product.thumbnail %>" alt="<%= product.name %>" />
  </th>
  <td></td>
  <td><%= product.quantity %></td>
  <td><%= (product.price * product.quantity) %></td>
  <td>
    <button id="<%= product._id %>" class="btn" name="deleteProduct">
      Eliminar
    </button>
  </td>
</tr>
