<tr id="product-<%= product._id %>" className="fila">
  <th className="cajaImagenTabla" scope="row">
    <img src="<%= product.thumbnail %>" alt="<%= product.name %>" />
  </th>
  <td></td>
  <td><%= product.quantity %></td>
  <td><%= product.price %></td>
  <td>
    <button id="<%= product._id %>" className="btn" name="deleteProduct">
      Eliminar
    </button>
  </td>
</tr>
