<% if (product) { %>
<div id="<%= product._id %>" class="tarjeta">
  <div class="tarjetaCuerpo">
    <div class="cajaImagen">
      <img
        class="img-fluid imagen"
        src="<%= product.thumbnail %>"
        alt="<%= product.name %>"
      />
    </div>
    <div class="nombre">
      <p><%= product.name %></p>
    </div>
    <div class="cuotas">
      <p class="texto">18 cuotas s/interés de</p>
      <p class="texto precioCuotas">$ <%= (product.price / 18).toFixed(2) %></p>
    </div>
    <div class="precio">
      <p class="texto">Final: $ <%= product.price %></p>
    </div>
    <a href="/products/<%= product._id %>" class="agregar">Ver Producto</a>
  </div>
</div>
<% }%>
