<% if (product) { %>
<div id="<%= product._id %>" class="tarjeta botonAgregar">
  <div class="tarjetaCuerpo">
    <div class="cajaImagen">
      <img
        class="img-fluid imagen"
        src="<%= product.thumbnail %>"
        alt="<%= product.name %>"
      />
    </div>
    <div class="nombre">
      <p><%= product.name %></p>
    </div>
    <div class="cuotas">
      <p class="texto">18 cuotas s/interés de</p>
      <p class="texto precioCuotas">1234</p>
    </div>
    <div class="precio">
      <p class="texto">Final: <%= product.price %></p>
    </div>
    <div class="agregar">
      <a href="/products/<%= product._id %>" class="button">Ver Producto</a>
    </div>
  </div>
</div>
<% }%>
